<!DOCTYPE html>
<html>

<head>
  {% block head %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% if title %}
  <title>Brendan's app site - {{ title }}</title>
  {% else %}
  <title>Brendan's app site</title>
  {% endif %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-expand-sm bg-dark">
  <div class="container-fluid mr-auto">
      <a class="navbar-brand" href="#">ACHA2</a>
      <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a></li>
      <li><a class="nav-item nav-link" href="{{ url_for('main.home') }}">About</a></li>
      {% if current_user.is_authenticated %}
      <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
      <li><a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a></li>
      <li><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
      {% else %}
      <li><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a></li>
      <li><a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a></li>
      {% endif %}
      </ul>

    <form class="navbar-form navbar-left form-inline" action="" method='post'>
      <div class="form-group">
        <input list="players" name=player placeholder="Enter Name">

          <datalist id="players">
            {{ players_pattern|safe }}
          </datalist>
      </div>
      <button type="submit" class="btn btn-default"value="player">Submit</button>
    </form>
     {% if current_user.is_authenticated %}
    <h4 class='text-light text-capitalize'> User: {{ current_user.username }}</h4>
    {% endif %}
  </div>
</nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}




    {% block content %}{% endblock %}

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  {% endblock %}
</body>

</html>
