body{

  /* background-image: url('/static/img/abstract-1867838_1920.jpg'); */
  background-color: #EBEBEB;
  display: block;
  color: blue;
  background-size: cover;
  background-repeat: no-repeat;
}
/* div{
  text-align: left;
} */

.navbar{
  margin-bottom: 15px;
}
.row{
  text-align: left;
}
.nav-link{
  color: white;
  font-family: "Sintony",Arial,sans-serif;
  font-size: 14;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom:25px;
}
.nav-link:hover{

  background-color: blue;
  font-family: "Sintony",Arial,sans-serif;
  font-size: 14;
  font-weight: bold;
  color: white;
}



.article-img {

  height: 20px;
  width: 20px;

}
.article-img:hover{

  height: 60px;
  width: 60px;
  border: 1px solid red;

}


.content-section {
  /* background-color: #EBEBEB; */
  background-color: white;
  padding: 10px 20px;
  display: block;
  /* border: 1px solid #dddddd; */
  border-radius: 3px;
  margin-bottom: 20px;
  border-top: 3px solid red;
  border-radius: 10px;
}

.article-title {
  color: black;
  text-align: left;
  IBMPlexSans,Areal,sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-decoration: none;
}

a.article-title:hover {
  IBMPlexSans,Areal,sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-decoration: underline;
}

.article-content {
  font-family: Noto Sans,Arial,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
word-break: break-word;
overflow: auto;
padding-bottom: 1px;
margin-bottom: -1px;
}



.article-metadata {
  display: inline-inline-block;
  text-align: left;
}

.article-metadata a:hover {

  text-decoration: underline;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-top: 4px;
}

.account-heading {
  font-size: 2.5rem;
}
.col-md-2{
  border: solid;
  border-width: thin;
}
.art{
  display: block;
  white-space:normal;
}
p{
  text-align: left;
}
.form-group{
  text-align: left;
}
.a-content-section{
  /* background: #ffffff; */
  background-image: url('/static/img/rink.jpg');
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}left
.form-group{

  color: white;
}
.media-body {
  text-align: left;

}
.post-name{
  color: black;
  display: inline;
  text-align: left;
  font-family: IBMPlexSans,Areal,sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
