body{

  background-image: url('/static/img/Black Background.jpg');
  display: block;
  color: blue;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar{
  margin-bottom: 15px;
}
.row{
  text-align: center;
}


.article-img {
  diplay:grid;
  height: 65px;
  width: 65px;
  margin-top: 5px;
}


.content-section {
  background-color: blue;
  color: black;
  padding: 10px 20px;
  /* border: 1px solid #dddddd; */
  border-radius: 3px;
  margin-bottom: 20px;
  border-top: 3px solid red;
  border-radius: 10px;
}

.article-title {
  color: #444444;
  border-bottom: 1px solid;
  border-width:thin;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}



.article-metadata {
  display: grid;
  justify-content: center;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-top: 4px;
}

.account-heading {
  font-size: 2.5rem;
}
.col-md-2{
  border: solid;
  border-width: thin;
}
.art{
  display: block;
  white-space:normal;
}
p{
  text-align: center;
}
.form-group{
  text-align: left;
}
.a-content-section{
  /* background: #ffffff; */
  background-image: url('/static/img/rink.jpg');
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.form-group{

  color: white;
}
